.Accordion{
    display: grid;
    list-style-type: none;
    place-items: center;
    margin-left: -1.4em;
}

.AccButt{
    width: 40vw;
    height: 3vh;
    font-size: 2vw;
    letter-spacing: .2em;

}

.Content-p{
    font-size: 4vw;
    font-weight: 90;
    text-align: start;
}
